config/*.yaml
data/*
logs
node_modules
temp
dump.rdb
pnpm-lock.yaml
resources/*
.data
.gitconfig
.git-credentials.d/

#对data的操控。将定制化较高的文件夹不忽略
!data/wdcnl/
!data/textJson/
!data/textJson/*
!data/memes/infos.json
!data/memes/keyMap.json
!data/MessageBoard/
!data/MessageBoard/*
!resources/html/
!resources/html/*
!data/zhendui/
!data/zhendui/*
!data/pregnant/
!data/pregnant/*
!data/messageJson/
!data/messageJson/*
!data/messageJson/*/
!data/messageJson/*/image
!data/niuniu/*
!data/niuniu/
!data/whatpig/
!data/whatpig/*
!data/wnxyj/
!data/wnxyj/*
!data/zhouli/
!data/zhouli/*
!data/cyjl/
!data/cyjl/*
!data/fgo_guess/
data/fgo_guess/*
!data/fgo_guess/servant_catalog.json
!data/fgo_guess/*.html
!data/fgo_guess/*.css
!data/mihoyo-guess-role/
data/mihoyo-guess-role/*
!data/mihoyo-guess-role/*.html
!data/mihoyo-guess-role/*.css



# Docker file
redis
yunzai
/.idea/
#/data/
/temp/
/pnpm-lock.yaml
/entrypoint.sh

/temp/
/pnpm-lock.yaml
/entrypoint.sh
