config/*.yaml
data/*
logs
node_modules
temp
dump.rdb
pnpm-lock.yaml

#对data的操控。将定制化较高的文件夹不忽略
!data/wdcnl/
!data/textJson/
!data/textJson/*
!data/memes/infos.json
!data/memes/keyMap.json
!data/MessageBoard/
!data/MessageBoard/*
!resources/html/
!resources/html/*
!data/zhendui/
!data/zhendui/*
!data/pregnant/
!data/pregnant/*
!data/messageJson/*



# Docker file
redis
yunzai
/.idea/
#/data/
/temp/
/pnpm-lock.yaml
/entrypoint.sh

/temp/
/pnpm-lock.yaml
/entrypoint.sh
